{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block contents%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form actions = "/login" method="post" id="formElement">
    <!-- <p>Name: </p>
    <p><input type="text" name="name"></p> -->
    <p><label for="email">Your Email: </label></p>
    <input type="email" id="email" name="email" placeholder="Enter Email">
    <p><label for="password">Password: </label></p>
    <input type="password" id="password" name="password" placeholder="Password"><br>
    <br>
    <button type='submit' class="login-btn"> Sign In </button><br><br>
   
   

</form>
<button id="google-btn" onclick="googleAuthentication()">Sign in with google</button>

<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
<script>
    const firebaseApp = firebase.initializeApp({
    apiKey: "AIzaSyCn8dMYxbT3_flp5M2mnNbywk-MaZiLH1Q",
    authDomain: "test-project-b41ca.firebaseapp.com",
    projectId: "test-project-b41ca",
    storageBucket: "test-project-b41ca.appspot.com",
    messagingSenderId: "337084528583",
    appId: "1:337084528583:web:adbe0293fe720ccf3c8be2",
    measurementId: "G-RM36F7YWSM"
});

const auth = firebaseApp.auth();
var provider = new firebase.auth.GoogleAuthProvider();



const googleAuthentication=()=>{

firebase.auth()
  .signInWithPopup(provider)
  .then((result) => {
    // /** @type {firebase.auth.OAuthCredential} */
    var credential = result.credential;
   let email=result.user.email
   let password=localStorage.getItem("Password")

   var email_pass = firebase.auth.EmailAuthProvider.credential(email, password);
   auth.currentUser.linkWithCredential(email_pass)
  .then((usercred) => {
    var user = usercred.user;
    console.log("Account linking success", user);
    document.getElementById("email").value=email
    document.getElementById("password").value=password
    var form_element=document.getElementById("formElement")
    setTimeout(() => {
            // document.getElementById("submit_button").click()
            form_element.submit();
        }, 2000);
    
    
  }).catch((error) => {
    console.log("Account linking error", error);
    document.getElementById("email").value=email
    document.getElementById("password").value=password
    var form_element=document.getElementById("formElement")
    setTimeout(() => {
            // document.getElementById("submit_button").click()
            form_element.submit();
        }, 1000);

  });
    

    // This gives you a Google Access Token. You can use it to access the Google API.
    var token = credential.accessToken;
    // The signed-in user info.
    var user = result.user;
    
    // IdP data available in result.additionalUserInfo.profile.
      // ...
  }).catch((error) => {
    // Handle Errors here.
    var errorCode = error.code;
    var errorMessage = error.message;
    // The email of the user's account used.
    var email = error.email;
    // The firebase.auth.AuthCredential type that was used.
    var credential = error.credential;
    // ...
  });
  
}
    
</script>
{% endblock %}