{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block contents%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form actions = "#" method="post">
    <p>Name: </p>
    <p><input type="text" name="name"></p>
    <p><label for="email">Your Email: </label></p>
    <input type="email" id="email" name="email" placeholder="Enter Email" value="{{email if email}}">
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}